@model IEnumerable<Proway_cap.Models.Anuncio_inv>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_anuncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_investido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_anuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_investido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_anuncio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_anuncio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_anuncio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
